---
import { getCollection } from "astro:content";
import CardExperiencia from "../ui/CardExperiencia.astro";
const experiencias = await getCollection("experiencia");
---

<div>
    <h2>Work Experience <span>💼</span></h2>
    <ul>
        {
            experiencias.map((exp) => (
                <li>
                    <CardExperiencia experiencia={exp} />
                </li>
            ))
        }
    </ul>
</div>

<style>
    h2 {
        display: flex;
        gap: 1rem;
    }
    ul {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        li {
            display: flex;
            align-items: center;
        }
    }
</style>
