<section>
    <h2>Hobbyes</h2>
    <p>
        Outside of programming, I’m passionate about strength and endurance
        sports. I enjoy lifting weights, doing CrossFit, running marathons,
        cycling, and exploring adventure sports — I love testing my physical and
        mental limits.
    </p>
    <p>
        I'm also a big fan of traveling, discovering new places, and
        experiencing different cultures. Music is another essential part of my
        life — it helps me focus, unwind, and stay inspired.
    </p>
    <p>
        These activities fuel my creativity, discipline, and resilience — values
        I bring into my work as a developer.
    </p>
</section>
<style>
    section {
        text-wrap: pretty;
        max-width: 1000px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
    }
</style>
