---
import ScrollWatcherAnimation from "../../composables/ScrollWatcherAnimation.vue";
---

<header>
    <section>
        <ScrollWatcherAnimation client:only="vue" animation="animation-up">
            <h1 class=""><strong>Hi my name is</strong> Angel Zuñiga</h1>
        </ScrollWatcherAnimation>
        <ScrollWatcherAnimation client:only="vue" animation="animation-left">
            <h4>Software developer</h4>
        </ScrollWatcherAnimation>
        <div style="display:flex; gap: 1rem">
            <a href="#projects"><button>Mira Mis Proyectos 💼</button></a>
            <a href="/cv.pdf"
                ><button
                    style="background: transparent;border: solid 1px var(--danger-ligth);color: white"
                    >Descarga CV 🧾</button
                ></a
            >
        </div>
    </section>
    <script type="module"></script>
    <img src="/retrato.JPG" alt="Angel Zuñiga" />
</header>

<style>
    a,
    button {
        cursor: pointer;
    }
    h1 {
        margin: 0;
    }
    button {
        border: 0;
        font-weight: 600;
        color: var(--neutral-dark);
        border-radius: 5px;
        background: var(--danger-ligth);
        padding: 10px 20px;
        width: fit-content;
    }
    header {
        --img-size: 450px;
        padding-inline: var(--p-x);
        margin: auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        height: 100dvh;
        align-items: center;
        align-content: center;
        @media screen and (max-width: 1300px) {
            grid-template-columns: 1fr;
            align-items: start;
            gap: 100px;
        }
        img {
            height: 50dvh;
            width: 100%;
            border-radius: 50%;
            transform: translateY(-10%);
            @media screen and (max-width: 1300px) {
                height: auto;
                transform: translateY(0%);
                width: 80%;
            }
        }
    }
    strong {
        color: var(--primary);
        font-size: 30px;
        font-weight: 100;
        display: block;
    }
    h4 {
        color: var(--neutral);
        font-size: var(--size-lg);
        font-weight: bold;
        margin: 0;
        margin-bottom: 50px;
    }
</style>
