---
import { getCollection } from "astro:content";
import CardProyecto from "../ui/CardProyecto.astro";
import Carrousel from "../ui/animated/Carrousel.vue";
const proyectos = await getCollection("proyectos");
---

<div id="projects">
    <h2>Proyectos</h2>
    <ul class="projects">      
        {proyectos.map((proyecto) => <CardProyecto proyecto={proyecto} />)}
    </ul>
</div>
<style>
    h2{        
    }
    #projects {
        padding-bottom: 2rem;
        display: flex;
        flex-direction: column;
        gap: 0rem;
    }
    .projects {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem 3rem;
        @media screen and (max-width: 800px) {
            grid-template-columns: 1fr;
        }
        padding-inline: 0;
    }
</style>
