<section class="snap-section">
    <h2>School</h2>
    <p>
        I’m currently a student at Universidad de Lima, passionate about
        building software that solves real-world problems. Although I started my
        journey in frontend development, over time I’ve become deeply interested
        in system-level software, where performance, architecture, and hardware
        interaction matter the most.
    </p>
    <p>
        I'm especially drawn to the Apple ecosystem — its design philosophy,
        developer tools, and the seamless integration between hardware and
        software inspire me to build with precision and care. I work primarily
        with SwiftUI, always aiming for clean, modern, and efficient code.
    </p>
    <p
        style="display: flex; flex-direction: column; gap:1rem; align-items: center;"
    >
        I completed the Swift Developer Program at Apple Coding Academy, which
        helped me strengthen my foundation in iOS development and reinforce my
        commitment to building apps natively and responsibly.
        <span>
            <button
                ><a href="/diploma-sdp.pdf" target="_blank"
                    >My Certificate
                </a></button
            >
        </span>
    </p>
    <p>
        I also have an intermediate level of English, which allows me to
        collaborate, research, and learn in global environments.
    </p>
</section>
<style>
    section {
        text-wrap: pretty;
        max-width: 1000px;
        margin: 0 auto;
        display: flex;
        gap: 1rem;
        flex-direction: column;
    }
    a {
        color: inherit;
    }
    button {
        text-transform: uppercase;
        border: 0;
        font-weight: 600;
        color: var(--neutral-dark);
        border-radius: 5px;
        background: var(--highlight);
        padding: 10px 20px;
        width: fit-content;
    }
</style>
