---
import Layout from "../layouts/Layout.astro";
import School from "../components/sections/School.astro";
import Hobbys from "../components/sections/Hobbys.astro";
---

<Layout title="About Me Angel Zuniga">
    <section>
        <header></header>
        <main>
            <p>
                I'm a software developer. I began my development journey focused
                on the front-end, drawn to creating clean interfaces and fluid
                user experiences. However, over time, I discovered that what
                truly motivates me is building from the ground up: developing
                system software, understanding how hardware behaves, and
                programming with a closer look at the heart of devices.
            </p>
            <p>
                I'm particularly excited about the Apple ecosystem, both for its
                design philosophy and the tools it offers. I work with SwiftUI
                and enjoy writing code that combines elegance, efficiency, and
                system control.
            </p>
            <p>
                Today, my focus is on building solutions closer to the system,
                exploring the capabilities of the Apple environment, and sharing
                this journey with others who also seek to understand software at
                its core.
            </p>
        </main>
    </section>
    <School />
    <Hobbys />
</Layout>
<style>
    section {
        text-wrap: pretty;
        max-width: 1000px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
</style>
<style is:global>
    section {
        min-height: 40dvh !important;
        padding: 2rem 5rem;
    }
</style>
