---
import Experiencia from "../components/sections/Experiencia.astro";
import MainPicture from "../components/sections/MainProfile.astro";
import Projects from "../components/sections/Projects.astro";
import Skills from "../components/sections/Skills.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
	<header class="snap-section">
		<MainPicture />
	</header>
	<main>
		<section class="snap-section">
			<Experiencia />
		</section>
		<section class="snap-section">
			<Projects />
		</section>
		<section class="snap-section">
			<Skills />
		</section>
	</main>
</Layout>

<style>
	body,
	html {
		height: 100%;
		scroll-snap-type: y mandatory;
		scroll-behavior: smooth;
		overflow-y: scroll;
	}
	main {
		padding-inline: var(--p-x);
		max-width: var(--max-width);
		margin: auto;
	}
	section {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	ul {
		list-style: disc;
	}
	svg {
		height: 1em;
	}
</style>
